# Mac/OSX
.DS_Store

# Python
__pycache__/
*.pyc
drone_env/
venv/
.env

# Logs and PIDs
*.log
*.pid

# ArduPilot / SITL Logs
Phase2_SITL/logs/
*.BIN
LASTLOG.TXT
*.tlog
*.tlog.raw
*.parm
terrain/
eeprom.bin

# Others
.influx_token
